# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock
*.seed
*.state

# Maven-related files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java-related files
*.class
*.jar
*.war
*.nar
*.ear
*.rar
*.zip
*.tar.gz
hs_err_pid*

# Editor settings and IDE files (IntelliJ, VSCode)
.idea/
*.iml
*.ipr
*.iws
/out/
.vscode/
!.vscode/extensions.json

# Datasource local storage ignored files
/dataSources/
dataSources.xml
dataSources.local.xml

# dotenv environment variables files
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore all .properties files
*.properties

# Local files
*.local

# OS-specific files
.DS_Store
Thumbs.db

