version: '3.8'

services:
  postgres-db:
    container_name: postgres-db
    image: postgres:17.4
    env_file:
      - ./postgres/postgres.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo-db:
    container_name: mongo-db
    build: ./mongo
    env_file:
      - ./mongo/mongo.env
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"

  spring-boot-app:
    container_name: vulcanus-spring-boot-app
    build:
      context: ./spring-boot-app
      dockerfile: Dockerfile
    env_file:
      - ./spring-boot-app/spring_boot_app.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db
      - mongo-db
      - redis

volumes:
  postgres_data:
  mongo_data:
