@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-container {
    height: 90vh;
    width: 90%;
    border-radius: 2rem;
}