@import "tailwindcss";
/* documentation of the plugin https://adoxography.github.io/tailwind-scrollbar/ */
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredstrategy: "pseudoelements";
}

@custom-variant dark (&:is(.dark *));

@theme {
    --height-1\/10: 10%;
    --breakpoint-3xl: 160rem;
    --color-mainBlue: #4242f0;
    --color-mainBlueDarker: #0d0db5;
    --color-darkText: #e5e5e5;
    --color-darkBg: #0f0f10;
    --color-darkBgSoft: #1b1c1d;
    --color-darkBgMuted: #323539;
    --color-darkBorder: #939394;
    --color-lightText: #222222;
    --color-lightBg: #e4e3e3;
    --color-lightBgDarker: #cccaca;
    --color-lightBgSoft: #ffffff;
    --color-lightBgMuted: #f2f2f2;
    --color-lightBorder: #fbfdff;
    --color-lightGrayishViolet: #f2eef9;
    --color-whiteSmoke: #f6f6f6;
    --color-warmerWhiteSmoke: #ece9e9;
    --color-lightGrayishBlue: #e5e9ee;
    --color-paleBlueGray: #acafbb;
    --color-grayText: #d3d3d3;
    --color-violetDark: #363041;
    --color-violetLight: #6d6183;
    --color-violetLightDarker: #4f4660;
    --color-violetLighter: #9b8cbd;
    --color-violetDarker: #2c2734;
    --color-violetBtnBorderDark: #625b6e;
    --color-violetBright: #835ace;
    --color-darbVioletBtnOutline: #816ba6;
    --color-mediumDarkBlue: #424b77;
    --color-first: #2c3e50;
    --color-second: #34495e;
    --color-third: #1abc9c;
    --color-fourth: #16a085;
    --color-fifth: #ecf0f1;
    --color-sixth: #e94560;
    --color-magenta: #a01bc1;
    --color-darkYellow: #c5a03c;
    --color-ratingStarColor: #fadb14;
    --color-locationMarkerDarkerBlue: #a3dcff;
    --color-locationMarkerLightBlue: #52bafb;
    --color-userLocationDot: #4285f4;
    --color-spotLocationMarker: #a8071a;

    --animate-slide-in-from-left: slideInFromLeft 0.3s ease-out;

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-color: var(--color-gray-200, currentcolor);
    }
}

body {
    background-color: var(--color-darkBg);
}

.custom-rate .ant-rate-star {
    font-size: 25px;
}

.custom-rate-spot-comment .ant-rate-star {
    font-size: 18px;
    margin: 0 0.1px;
}

.custom-rate-searched-spot .ant-rate-star {
    font-size: 20px;
}

@media (max-width: 1280px) {
    .custom-rate .ant-rate-star {
        font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .custom-rate-spot-comment .ant-rate-star {
        font-size: 14px;
    }
}

.custom-rate .ant-rate-star:not(.ant-rate-star-full) .ant-rate-star-second {
    color: #ffffff;
}

.custom-rate-spot-comment
    .ant-rate-star:not(.ant-rate-star-full)
    .ant-rate-star-second {
    color: #ffffff;
}

.custom-rate-searched-spot
    .ant-rate-star:not(.ant-rate-star-full)
    .ant-rate-star-second {
    color: #ffffff;
}

.ant-picker-header button {
    color: #e5e5e5 !important;
}

.custom-rate-searched-spot
    .ant-rate-star:not(.ant-rate-star-full)
    .ant-rate-star-second {
    color: #ffffff;
}

.carousel-rounded > .slick-list {
    border-radius: 1rem;
    overflow: hidden;
}

.media-controller:fullscreen .media-control-bar {
    margin-bottom: 0;
}

.media-control-bar {
    margin-bottom: 1.5rem;
}

.tiptap-editor-content .ProseMirror:focus {
    outline: none;
}

.tiptap {
    height: 100%;
    white-space: pre-wrap;
}

.tiptap a {
    @apply cursor-pointer text-blue-500 underline;
}

.tiptap a:hover {
    @apply text-blue-600;
}

.tiptap h1 {
    @apply mb-4 text-4xl font-bold;
}

.tiptap h2 {
    @apply mb-3 text-3xl font-semibold;
}

.tiptap h3 {
    @apply mb-2 text-2xl font-semibold;
}

.tiptap h4 {
    @apply mb-2 text-xl font-medium;
}

.tiptap h5 {
    @apply mb-1 text-lg font-medium;
}

.tiptap h6 {
    @apply mb-1 text-sm font-semibold;
}

.tiptap ul {
    @apply ml-4 list-disc;
}

.tiptap ol {
    @apply ml-4 list-decimal;
}

.tiptap li p {
    display: inline;
    margin: 0;
}

.tiptap p:empty::before {
    content: "";
    display: inline-block;
}

.tiptap li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    line-height: 0.5;
}

.tiptap ul li::before {
    content: "•";
    display: inline-block;
}

.tiptap ol {
    counter-reset: list-item;
}

.tiptap ol li::before {
    content: counter(list-item) ".";
    counter-increment: list-item;
    display: inline-block;
}
