@import 'tailwindcss';
/* documentation of the plugin https://adoxography.github.io/tailwind-scrollbar/ */
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@custom-variant dark (&:is(.dark *));

@theme {
  --height-1\/10: 10%;

  --color-mainBlue: #4242f0;
  --color-mainBlueDarker: #0d0db5;
  --color-darkText: #e5e5e5;
  --color-darkBg: #0f0f10;
  --color-darkBgSoft: #1b1c1d;
  --color-darkBgMuted: #323539;
  --color-darkBorder: #939394;
  --color-lightText: #222222;
  --color-lightBg: #e4e3e3;
  --color-lightBgDarker: #cccaca;
  --color-lightBgSoft: #ffffff;
  --color-lightBgMuted: #f2f2f2;
  --color-lightBorder: #fbfdff;
  --color-violetDark: #363041;
  --color-violetLight: #6D6183;
  --color-violetLighter: #9b8cbd;
  --color-violetDarker: #2C2734;
  --color-violetBright: #835ACE;
  --color-darbVioletBtnOutline: #816BA6;
  --color-first: #2C3E50;
  --color-second: #34495E;
  --color-third: #1ABC9C;
  --color-fourth: #16A085;
  --color-fifth: #ECF0F1;
  --color-sixth: #E94560;
  --color-magenta: #A01BC1;
  --color-darkYellow: #C5A03C;
  --color-ratingStarColor: #FADB14;
  --color-locationMarkerDarkerBlue: #A3DCFF;
  --color-locationMarkerLightBlue: #52BAFB;
  --color-userLocationDot: #4285f4;
  --color-spotLocationMarker: #A8071A;

  --animate-slide-in-from-left: slideInFromLeft 0.3s ease-out;

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-color: var(--color-gray-200, currentcolor);
  }
}

.custom-rate .ant-rate-star {
  font-size: 25px;
}

@media (max-width: 768px) {
  .custom-rate .ant-rate-star {
    font-size: 20px;
  }
}

.custom-rate .ant-rate-star:not(.ant-rate-star-full) .ant-rate-star-second {
  color: #ffffff;
}
