<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background: #ffffff; padding: 3%; border-radius: 8px; text-align: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 90%; max-width: 600px;">
        <h1 style="color: #333;">Welcome, <span th:text="${username}"></span>!</h1>
        <p style="color: #555;">Thank you for registering in our service. Your account is now active.</p>
        <p style="color: #777;">If you did not register, please ignore this email.</p>
        <div style="margin-top: 4%;">
            <img src="https://drive.google.com/thumbnail?id=1DtSGKUtXqqos1mMsuXiPrFrTwEBE_m5Q" alt="Logo"
                 style="width: 15%; max-width: 120px; height: auto; border-radius: 4px;">
        </div>
    </div>
</div>
</html>

