name: Java CI

on:
  push:
    paths:
      - 'vulcanus/**'
  pull_request:
    types:
      - opened
    branches:
      - master
      - develop
    paths-ignore:
      - 'documentation/**'
  merge_group:
    branches: [ master, develop ]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker Compose
        id: docker-compose-cache
        uses: actions/cache@v3
        with:
          path: /usr/local/bin/docker-compose
          key: docker-compose-v2.20.2-${{ runner.os }}-${{ runner.arch }}
          restore-keys: |
            docker-compose-

      - name: Install Docker Compose if not cached
        if: steps.docker-compose-cache.outputs.cache-hit != 'true'
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.20.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Verify Docker Compose Installation
        run: docker-compose --version

  build:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: maven-${{ runner.os }}-${{ hashFiles('vulcanus/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      - name: Build and start services
        run: docker compose -f vulcanus/docker/merkury/docker-compose.yml up -d

      - name: Wait for services to be ready
        run: sleep 30

      - name: Build vulcanus
        run: mvn -B package -DskipTests --file vulcanus/pom.xml

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: maven-${{ runner.os }}-${{ hashFiles('vulcanus/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      - name: Test vulcanus
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        run: mvn -B test --file vulcanus/pom.xml

      - name: Shut down services
        run: docker compose -f vulcanus/docker/merkury/docker-compose.yml down
